**/.#*
build/
*.so
*.egg*
__pycache__
.vscode
*.pyc
*.out
*.pdf
*_hw*
*_junk*
*_dev*

# File systems
*.DS_Store
# **/*.DS_Store

# Directory with files generated before building documentation
_temp

# Sphinx documentation
docs/_build/
