**/.#*
build/
*.so
*.egg*
__pycache__
.vscode
*.pyc
*.out
*.pdf
*_hw*
*_junk*
*_dev*

# modOpt outputs directory
*_outputs/
# default output file for ipopt
ipopt_output.txt
# OpenMDAO generated reports
reports/
# Study directories
Study*

# File systems
*.DS_Store
# **/*.DS_Store

# Directory with files generated before building documentation
_temp

# Sphinx documentation
docs/_build/

# Unit test / coverage reports
*.lcov
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/