# Includes the list of all dependencies that are absolutely required to run setup() and 
# use modOpt in a new environment.
# Useful for creating a conda environment, or to be used in testing workflow, 
# or to host the documentation on Read the Docs
# This file should contain same packages as in install_requires in setup.py

numpy
scipy
array_manager @ git+https://github.com/anugrahjo/array_manager.git@modopt