# Includes the list of all dependencies required to host the documentation on Read the Docs

numpy
pytest
myst-nb
sphinx_rtd_theme
sphinx-autoapi
numpydoc
gitpython
git+https://github.com/anugrahjo/sphinx-collections.git

# The following is possible but is already done within `.readthedocs.yaml` file
# -e .
